@page "/{ID?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



    <div class="text-center">
        <h1 class="display-4 mb-4">Welcome!</h1>
        <p> The goal of this app was to practice setting up and using .net core razor page project. </p>
        <a class="btn btn-primary" href="/eventplan" role="button">Start Planning</a>
    </div>
 

