@page
@model app.razor.WebApp.Pages.EventItem.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Event Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CurrentEventItem.ID" />
            <input type="hidden" asp-for="CurrentEventItem.EventPlanID" />

            <div class="form-group">
                <label asp-for="CurrentEventItem.Name" class="control-label">Event Item Name</label>
                <input asp-for="CurrentEventItem.Name" class="form-control" asp-items="ViewBag.Household" />
                <span asp-validation-for="CurrentEventItem.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentEventItem.Description" class="control-label">Description</label>
                <input asp-for="CurrentEventItem.Description" class="form-control" />
                <span asp-validation-for="CurrentEventItem.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentEventItem.AddressLine1" class="control-label">Location</label>
                <input asp-for="CurrentEventItem.AddressLine1" class="form-control" />
                <span asp-validation-for="CurrentEventItem.AddressLine1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-control">Start time</label>
                <input asp-for="StartEventDate" class="form-control" type="date" />
                <input asp-for="StartEventTime" class="form-control" type="time" />
            </div>
            <div class="form-group">
                <label class="form-control">End Time</label>
                <input asp-for="EndEventDate" class="form-control" type="date" />
                <input asp-for="EndEventTime" class="form-control" type="time" />

            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-primary" asp-page="/EventPlan/Details" asp-route-id="@Model.CurrentEventItem.EventPlanID" role="button">Cancel</a>
            </div>
    </form>
</div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
